* {
  background: #271D30;
  color: #FAFAFA;
  font-family: 'Courier New', Courier, monospace;
}
body {
  font-family: 'Nunito Sans';
  font-size: 20px;
  background: #271D30;
  color: #FAFAFA;
}

.navbar-nav {
  background: #271D30;
  color: #FAFAFA;
}

#content {
  height: 500px;
  width: 100%;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0px;
  width: 100%;
  color: white;
  text-align: center;
}